@page
@model MyRepoWebApp.Pages.Photos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Upload</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Upload.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Upload.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Upload.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Upload.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Folders/Photos/Edit" asp-route-id="@Model.Upload.ID">Edit</a> |
    <a asp-page="./Folders/Photos/Photos">Back to List</a>
</div>
