@page
@model MyRepoWebApp.Pages.Photos.PhotosModel

@{
    ViewData["Title"] = "Photos";
}

    <form>
        <p>
            Title: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <p>
        <a class="btn btn-secondary" asp-page="../Folders">Upload</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Upload[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upload[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upload[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upload[0].FolderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upload[0].UpdateDate)
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Upload) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.contents)" width="80" height="80" />
            </td>
            <td>
                <a class="btn btn-outline-light" download="@item.Name" href="data:@item.Type;base64,@System.Convert.ToBase64String(item.contents)">Download</a> 
                <a class="btn btn-outline-light" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
                <a class="btn btn-outline-light" asp-page="./Details" asp-route-id="@item.ID">Details</a> 
                <a class="btn btn-outline-light" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
