@page
@model MyRepoWebApp.Pages.Account.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CredentialModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CredentialModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CredentialModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CredentialModel.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CredentialModel.Admin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CredentialModel.UserId">Edit</a> |
    <a asp-page="./Users">Back to List</a>
</div>
