@page
@model MyRepoWebApp.Pages.Folders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FolderModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FolderModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FolderModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FolderModel.owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FolderModel.owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FolderModel.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FolderModel.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-light" asp-page="./Edit" asp-route-id="@Model.FolderModel.ID">Edit</a> 
    <a class="btn btn-outline-success" asp-page="./Folders/Folders">Back to List</a>
</div>
